body {
  background-color: rgb(10, 30, 35);
  font-family: sans-serif;
}

.header {
  color: whitesmoke;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 0px;
  letter-spacing: 5px;
}

.subheader{
  color: whitesmoke;
  text-align: center;
  letter-spacing: 3px;
}
.body {
  color: white;
  
  margin-left: 20px;
  letter-spacing: 1px;
}

.center{
  margin-left:auto;
}

.gif{
  max-height: fit-content;
}
